# pnpm
# 只有当一个依赖版本号是 workspace: 协议才 link 到本地包，否则都下载线上包
link-workspace-packages=false
# 防止版本自动升级
resolution-mode=lowest-direct

# mirror
canvas_binary_host_mirror="https://npmmirror.com/mirrors/canvas"
CYPRESS_DOWNLOAD_MIRROR="http://mirrors.dancf.com"
PHANTOMJS_CDNURL="https://npmmirror.com/mirrors/phantomjs"
puppeteer_download_host="https://npmmirror.com/mirrors"
SASS_BINARY_SITE="https://npmmirror.com/mirrors/node-sass/"

# registry
registry="https://registry.npmmirror.com"
